{{ $ceremony_CID := . }}
{{ $ceremony := getJSON "https://ipfs.io/ipfs/" . "/ceremony.json" }}
{{ with $ceremony }}
<div class="ceremony">
  <div class="ceremony_datetime"><h4 id="{{ .datetime }}@{{ float .latitude }},{{ float .longitude }}">Local date and time = {{ .datetime }}</h4></div>
  <div class="ceremony_location">Latitude, longitude = <a href="#popup_{{ .datetime }}@{{ float .latitude }},{{ float .longitude }}">{{ float .latitude }}, {{ float .longitude }}</a></div>
  <div class="ceremony_organizer">Organizer's identifier = {{ .organizer_identifier }}</div>
  <div class="ceremony_block">Ethereum block height and hash = {{ .block_height }}, {{ .block_hash }}</div>
  <div class="ceremony_IPFS"><a href="https://ipns.co/{{ $ceremony_CID }}">Full IPFS directory</a></div>

  <div class="ceremony_gallery">Videos and pictures<br />
    <div class="visible-media">
    {{ range .videos }}
      <video height="240" class="lightboxable-media" style="max-height:240px; height:auto; width:auto; vertical-align:top;" src="https://ipfs.io/ipfs/{{ $ceremony_CID }}/{{ . }}" controls>
	    Your browser does not support the video tag but <a href="https://ipfs.io/ipfs/{{ $ceremony_CID }}/{{ . }}">you can download this video.</a>
	  </video>
    {{ end }}
    {{ range .pictures }}
      <img height="240" class="lightboxable-media" src="https://ipfs.io/ipfs/{{ $ceremony_CID }}/{{ . }}"  style="display:inline; max-height:240px; height:auto; width:auto; vertical-align:top;" />
	{{ end }}
	</div>
	<div class="hidden-media">
    {{ range .videos }}
      <video hidden controls><source src="https://ipns.co/{{ $ceremony_CID }}/{{ . }}"></video>
	{{ end }}
	{{ range.pictures }}
      <img hidden loading="lazy" src="https://ipns.co/{{ $ceremony_CID }}/{{ . }}" />
	{{end}}
	</div>
    <div class="lightbox">
	  <span class="lightbox-close">&#x2715;</span> <!-- This is for × -->
	  <span class="lightbox-previous">&#x00AB;</span> <!-- This is for « -->
	  <span class="lightbox-next">&#x00BB;</span> <!-- This is for » -->
	  <img class="lightbox-image lightbox-media" src="" />
	  <video class="lightbox-video lightbox-media" src="" controls>
	    Your browser does not support the video tag.</a>
	  </video>
	</div>
  <!-- the lightbox CSS and JS are in the head of the site -->
  </div>
</div>
{{ end }}
