<div class="ceremony_identifiers">
{{ $ceremony_CID := .ceremony_CID }}
{{ $IPFS_gateway := .Site.Params.IPFS_gateway }}
{{ $identifiers := getJSON $IPFS_gateway . "/identifiers.json" }}
{{ with $identifiers }}

<div class="identifiers_table">
 <table>
  <thead>
   <tr>
    <th>Identifier</th>
    <th>Participant(s)</th>
   </tr>
  </thead>
  <tbody>
{{ range $identifier, $participants := . }}
   <tr>
    <td><code>{{ $identifier }}</code></td>
	<td>{{ $participants }}</td>
   </tr>
{{ end }}
  </tbody>
 </table>
</div>

{{ end }}
</div>