{{ $ceremony_CID := . }}
{{ $ceremony := getJSON "https://ipfs.io/ipfs/" . "/ceremony.json" }}
{{ with $ceremony }}
<div>
  <div><h4 id="{{ .datetime }}@{{ float .latitude }},{{ float .longitude }}">Local date and time = {{ .datetime }}</h4></div>
  <div>Latitude, longitude = <a href="#popup_{{ .datetime }}@{{ float .latitude }},{{ float .longitude }}">{{ float .latitude }}, {{ float .longitude }}</a></div>
  <div>Organizer's identifier = {{ .organizer_identifier }}</div>
  <div>Ethereum block height and hash = {{ .block_height }}, {{ .block_hash }}</div>
  <div><a href="https://ipns.co/{{ $ceremony_CID }}">Full IPFS directory</a></div>

<div class="media-gallery">
  <div>Videos and pictures<br />
  {{ range .videos }}
    <video height="240" style="max-height:240px; height:auto; width:auto; vertical-align:top;" controls><source src="https://ipfs.io/ipfs/{{ $ceremony_CID }}/{{ . }}"> Your browser does not support the video tag</video>
    <video hidden controls><source src="https://ipns.co/{{ $ceremony_CID }}/{{ . }}"> Your browser does not support the video tag</video>
  {{ end }}
  {{ range .pictures }}
    <img height="240" src="https://ipfs.io/ipfs/{{ $ceremony_CID }}/{{ . }}"  style="display:inline; max-height:240px; height:auto; width:auto; vertical-align:top;" />
    <img hidden loading="lazy" src="https://ipns.co/{{ $ceremony_CID }}/{{ . }}" />
  {{ end }}
  </div>
</div>

<div id="lightbox">
  <span id="lightbox-close">&#x2715;</span> <!-- This is for × -->
  <span id="lightbox-previous">&#x00AB;</span> <!-- This is for « -->
  <span id="lightbox-next">&#x00BB;</span> <!-- This is for » -->
  <img id="lightbox-img" src="" class="lightbox-media">
  <video id="lightbox-video"  class="lightbox-media" controls></video>
</div>

<link rel="stylesheet" type="text/css" href="css/ceremony_lightbox.css">
<script src="js/ceremony_lightbox.js"></script>
</div>
{{ end }}
