<div>
{{ $ceremony_CID := . }}
{{ $ceremony := getJSON "https://ipfs.io/ipfs/" . "/ceremony.json" }}
{{ with $ceremony }}
<div>
<div><h4 id="{{ .datetime }}@{{ float .latitude }},{{ float .longitude }}">Local date and time = {{ .datetime }}</h4></div>
<div>Latitude, longitude = <a href="#popup_{{ .datetime }}@{{ float .latitude }},{{ float .longitude }}">{{ float .latitude }}, {{ float .longitude }}</a></div>
<div>Videos<br />
{{ range .videos }}
  <video height="240" style="max-height:240px; max-width:240px; height:auto; width:auto;" controls><source src="https://ipfs.io/ipfs/{{ $ceremony_CID }}/{{ . }}"> Your browser does not support the video tag</video>
  <video hidden height="240" controls><source src="https://ipns.co/{{ $ceremony_CID }}/{{ . }}"> Your browser does not support the video tag</video>
{{ end }}
</div>
<div>Pictures<br />
{{ range .pictures }}
  <img height="240" src="https://ipfs.io/ipfs/{{ $ceremony_CID }}/{{ . }}"  style="max-height:240px; max-width:240px; height:auto; width:auto;" />
  <img hidden loading="lazy" src="https://ipns.co/{{ $ceremony_CID }}/{{ . }}" />
{{ end }}
</div>
<div>
 <table>
  <thead>
   <tr>
    <th>Identifier</th>
    <th>Participant(s)</th>
   </tr>
  </thead>
  <tbody>
{{ range $identifier, $participants := .identifiers }}
   <tr>
    <td><code>{{ $identifier }}</code></td>
	<td>{{ $participants }}</td>
   </tr>
{{ end }}
  </tbody>
 </table>
</div>
<div>Ethereum block height and hash = {{ .block_height }}, {{ .block_hash }}</div>
<div>Organizer's identifier = {{ .organizer_identifier }}</div>
<div><a href="https://ipns.co/{{ $ceremony_CID }}">Full IPFS directory</a></div>
<hr>
</div>
{{ end }}
</div>