<div class="ceremony_new">
    <form id="ceremony-form">

      <legend><em>1. <a href="/post/howto">Prepare your ceremony</a></em></legend>
      <legend><em>2. Prepare your <u>ceremony papersheet</u> by handwriting the information below onto a white papersheet with a thick marker</em></legend>
      <legend><em>3. Take at least 1 picture and 1 video of your ceremony.</em></legend>
      <legend><em>4. Fill the form below by replacing the default values with the handwritten information copied from the ceremony papersheet.</em></legend>
	  
	  <fieldset>
        <label>Identifier of the organizer
        <input type="text" id="organizer_identifier" name="organizer_identifier" required></label>
	  </fieldset>

	  <fieldset>
        <label>Date and local time
        <input type="datetime-local" id="datetime" name="datetime" required></label>
	  </fieldset>

	  <fieldset>
        <legend>Location from the ceremony sheet</legend>
	    <label>Latitude:
          <input type="number" step="0.00000000001" id="latitude" name="latitude" min="-180" max="180" required>
		</label>
	    <label>Longitude:
          <input type="number" step="0.00000000001" id="longitude" name="longitude" min="-180" max="180" required>
		</label>
	  </fieldset>

	  <fieldset>
	    <legend>Ethereum block from the ceremony sheet</legend>
	    <label>Block number:
          <input type="number" id="block_height" name="block_height" min="0" required>
		</label>
	    <label>Block hash:
          <input type="text" id="block_hash" name="block_hash" value="0x" required>
		</label>
	  </fieldset>
	  
	  <fieldset>
	    <legend>Pictures and videos from the ceremony</legend>
	    <label>Pictures:
          <input type="file" id="pictures" name="pictures" accept="image/*" multiple required />
		</label>
        <br />
	    <label>Videos:
          <input type="file" id="videos" name="videos" accept="video/*" multiple required />
		</label>
	  </fieldset>

      <input type="hidden" id="token" required value="{{ $.Site.Params.web3_storage_JWT }}"/>

	  <fieldset>
	    <legend>5. Verify the papersheet once again, then click on "Add ceremony" and wait.</legend>
        <input type="submit" value="Add ceremony">
	  </fieldset>
    </form>
    <div id="output"></div>
  {{ $path := "js/ceremony_new.js" }}
  {{ $js := resources.Get $path | resources.ExecuteAsTemplate $path . }}
  <!-- was $js := resources.Get $path | resources.ExecuteAsTemplate $path . | minify -->
  <script type="module">{{ $js.Content | safeJS }}</script>
</div>
