<div id="map">
<link rel="stylesheet" href="https://unpkg.com/leaflet@1.7.1/dist/leaflet.css" crossorigin=""/>
<script src="https://unpkg.com/leaflet@1.7.1/dist/leaflet.js" crossorigin=""></script>
<script>
  let markers = [];
  {{ range $key, $ceremony_CIDs := .Site.Data.ceremonies }}
    {{ range $ceremony_CIDs }}
      {{ $ceremony := getJSON "https://ipns.co/" . "/ceremony.json" }} 
	  {{ with $ceremony }}
        markers.push( { "latitude": parseFloat({{ .latitude }}), "longitude": parseFloat({{ .longitude }}) });
      {{ end }}
    {{ end }}
  {{ end }}
</script>
<style type="text/css">
  #map{ /* la carte DOIT avoir une hauteur sinon elle n'apparaît pas */
    height:400px;
  }
</style>
<script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyDX-At78f8sWF9CMSnQGr06TKlpXXobkPo" async defer></script>
<script src="https://unpkg.com/leaflet.gridlayer.googlemutant@latest/dist/Leaflet.GoogleMutant.js"></script>
<script src="/map.js"></script>
</div>
